*Dockerfile*
Makefile
*.md
.*cache
.venv*
*.ini
*dev.txt
**/*test*
.coverage*
dex_templates
*.e*
*.git*
*.p*
storybook
create_env.sh
ts*.json
!**/*project-tests*
!**/*test-utils*
!**/*test*.svg*
!.prettierrc
!.eslintrc
!.eslintignore
!tsconfig.json
!.env.production
!.env
!rest
!schemas
!**/test-optimize-deploy-openvino.html
