.predictionList {
    overflow: auto;

    li:last-child > div {
        border-bottom: none !important;
    }
}

.hiddenColor {
    color: var(--spectrum-alias-text-color-disabled, var(--spectrum-global-color-gray-500)) !important;
    fill: var(--spectrum-alias-text-color-disabled, var(--spectrum-global-color-gray-500)) !important;
}

.labelList {
    display: flex;
    align-items: center;
    gap: var(--spectrum-global-dimension-size-25);
}