.cellSubText {
  font-size: var(--spectrum-global-dimension-font-size-50);
  color: var(--spectrum-global-color-gray-700);
  text-overflow: ellipsis;
  width: 100%;
  overflow: hidden;
}

.cellModelNameText {
  text-overflow: ellipsis;
  width: 100%;
  overflow: hidden;
}