.hpoNotification {
  background-color: var(--energy-blue-dark);
  border-color: var(--energy-blue-dark);
}

.hpoNotificationDivider {
  background-color: #fff;
  opacity: 25%;
}

.hpoProgress {
  font-weight: 500;
}