.tabPanels {
    border: 0 !important;
    margin-top: var(--spectrum-global-dimension-size-100, var(--spectrum-alias-size-100)) !important;
    background-color: var(--spectrum-global-color-gray-50) !important;
    position: relative;
}
