.trainTemplateName {
  color: var(--spectrum-global-color-gray-900);
}

.trainAlgorithmName {
  font-size: var(--spectrum-global-dimension-static-font-size-75);
  color: var(--spectrum-global-color-gray-700);
}

.trainAlgorithmNameInvisible {
  visibility: hidden;
}