.idleHeader {
    color: var(--spectrum-global-color-gray-700);
}

.loadingBackground {
    background-color: var(--spectrum-alias-background-color-modal-overlay);
}

.activeSetIsEmptyHeader {
    color: var(--spectrum-global-color-gray-700);
    margin: 0;
    font-size: var(--spectrum-global-dimension-font-size-900);
    line-height: var(--spectrum-global-dimension-size-600);
    font-weight: normal;
}

.activeSetIsEmptyIcon {
    width: var(--spectrum-global-dimension-size-2400);
}

.labelShortcuts {
    z-index: 9999 !important;
    max-width: 50%;
}
