.popupTrigger {
    font-size: 1.4rem !important;
    line-height: 2.1rem !important;
    background-color: inherit !important;
    color: var(--energy-blue) !important;
    border: none !important;
    & > span {
        padding-left: 0 !important;
    }
}

.popupTitle {
    font-size: 1.6rem;
}

.popupBox {
    min-width: 60rem;
}
