.sliderWrapper {
    position: relative;
    display: flex;
    overflow: visible;
}

.slider {
    cursor: pointer;
}

.ticks {
    font-size: var(--spectrum-global-dimension-font-size-50);
    text-align: center;
    position: absolute;
    top: -8px;
    left: 0;
    right: 0;
}
