<!DOCTYPE html>
<html lang="en" class="spectrum spectrum--medium spectrum--sonoma-creek spectrum--sonoma-creek-global">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sonoma Creek</title>
    <link rel="stylesheet" href="/dex/static/page-index-vars.css">
    <link rel="stylesheet" href="/dex/static/main.css">
    <link rel="icon" href="/dex/static/img/brain.png"/>
</head>
<body>
    <div class="container">
        <div class="errorBox box">
            <div class="boxHeader">
                <div class="boxHeader-logo" id="logo-id"></div>
                <div class="boxHeader-title" id="title-id">Sonoma Creek</div>
            </div>
            <div class="boxHeaderSquare-medium"></div>
            <div class="boxHeaderSquare-small"></div>
            <div class="errorContent">
                <div>
                    <div class="errorImg"></div>
                    <div class="errorMsg">{{ .ErrMsg }}</div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
