.circle {
  display: flex;
  justify-content: center;
  align-items: center;
}

.reversedColor {
  color: var(--energy-blue-dark);
  background-color: var(--spectrum-global-color-gray-900);
}

.selected {
  background-color: var(--energy-blue-dark);
}

.basic {
  background-color: var(--spectrum-global-color-gray-400);
}

.number {
  padding-top: 1px; /* Small offset, looks "more centered" */
  padding-right: 1px; /* Same as above */
  font-size: var(--spectrum-global-dimension-font-size-25);

  &.medium {
    font-size: var(--spectrum-global-dimension-size-115);
    padding: 0; /* Reset the offset */
  }

  &.large {
    font-size: var(--spectrum-global-dimension-size-100);
    padding: 0; /* Reset the offset */
  }
}