.breadcrumbText {
  font-size: var(--spectrum-global-dimension-font-size-200);
  font-weight: 700;
}

.breadcrumbChevron {
  margin-left: var(--spectrum-global-dimension-size-160);
  margin-right: var(--spectrum-global-dimension-size-160);
}